<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>嵐馨樂團 - 鐵花好音樂</title>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.14.3/dist/css/uikit.min.css" />
    <!-- My Own Style -->
    <link rel="stylesheet" href="../../static/css/singer.css" />
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
            var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-TFWW8F7');
    </script>
    <!-- End Google Tag Manager -->
</head>

<body uk-scrollspy="cls: uk-animation-fade; target: div; delay: 300;">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TFWW8F7" height="0" width="0"
            style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="sticky">
        <div class="img"><img src="../../static/img/singer/4-0嵐馨樂團.jpg" alt="" /></div>
        <div class="title"><strong>嵐馨樂團</strong></div>
    </div>



    <div class="above">

        <div class="img quote" id="quote-4"><img src="../../static/img/singer/4.quote.jpg" alt="是這樣的因緣，藉由音樂的創作把他們聚集在一起，致力從民族文化的基礎去咀嚼自己的根。"></div>

        <div class="title"><strong>嵐馨樂團</strong></div>

        <div class="livetime">
            <p class="uk-text-center">
                鐵花村演出日期：7/30 <br>
                <a href="">LINE MUSIC LIVE 直播 >></a>
            </p>
        </div>

        <article class="uk-article">
            <div class="text uk-text-justify">
                <p>由阿美族、泰雅族及魯凱族三原住民族組成的樂團。</p>
                <p>雨後的山頭，翠綠而清新的感覺往眼中漫延過來，一陣清風吹起，一抹由山谷中升起的雲霧飄來，用心細細聆聽，好似一曲來自山嵐裡溫馨的樂音，他們是這樣稱呼自己用生命演譯的歌曲。</p>
                <p>嵐馨樂團，成員不僅是一個民族那麼單純，每個人定居在自己的部落裡，做自己想做的事，把音樂創作當成是自己生命的另一種延續。每個月不定期的聚會裡相互把自己的心情分享給團員們，經過這樣的交流，樂團裡渾生出多種元素的曲風，因為他們都是來自不同民族的台灣原住民。</p>
            </div>
        </article>

        <div class="img"><img src="../../static/img/singer/4-2蘭馨樂團.jpg" alt="" /></div>

        <article class="uk-article">
            <div class="text uk-text-justify">
                <p>是這樣的因緣，藉由音樂的創作把他們聚集在一起，是如此地奇妙；音樂造就了他們致力從民族文化的基礎去咀嚼自己的根。</p>
            </div>
        </article>

        <article class="uk-article">
            <div class="text uk-text-justify">
                <p><strong>樂團經歷</strong></p>
                <p>2010年 原創流行音樂大獎 第二名</p>
                <p>2012年 全國原Band大賞 第一名</p>
                <p>2018年 海邊的孩子 優勝</p>
            </div>
        </article>

        <div class="embed-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/xx7IUYih6WU"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>

        <div class="embed-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/MNc8XCeIwL0"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>

        



        <div class="bottom-icon uk-flex uk-flex-center">
            <ul class="uk-iconnav">
                <li><a href="https://www.facebook.com/lanshinband/" class="uk-icon-button uk-margin-small-right"
                        uk-icon="facebook"></a></li>
                <!-- <li><a href="https://www.youtube.com/c/dmilemusic" class="uk-icon-button uk-margin-small-right" uk-icon="youtube"></a></li> -->
                <li><a href="https://www.instagram.com/lanshinband/" class="uk-icon-button"
                        uk-icon="instagram"></a></li>
            </ul>
        </div>
    </div>


    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.14.3/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.14.3/dist/js/uikit-icons.min.js"></script>
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- LIFF -->
    <script src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
</body>

</html>