<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>旮勒思南樂團 - 鐵花好音樂</title>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.14.3/dist/css/uikit.min.css" />
    <!-- My Own Style -->
    <link rel="stylesheet" href="../../static/css/singer.css" />
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
            var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-TFWW8F7');
    </script>
    <!-- End Google Tag Manager -->
</head>

<body uk-scrollspy="cls: uk-animation-fade; target: div; delay: 300;">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TFWW8F7" height="0" width="0"
            style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="sticky">
        <div class="img"><img src="../../static/img/singer/10-0旮勒思南.jpg" alt="" /></div>
        <div class="title"><strong>旮勒思南樂團</strong></div>
    </div>


    <div class="above">

        <div class="img quote" id="quote-10"><img src="../../static/img/singer/10.quote.jpg"
                alt="因為血液聚在一起，用音樂將自身的文化流傳下去。"></div>

        <div class="title"><strong>旮勒思南樂團</strong></div>

        <div class="livetime">
            <p>鐵花村演出日期：8/5</p>
        </div>


        <article class="uk-article">
            <div class="text uk-text-justify">
                <p class="uk-dropcap">
                    旮勒思南樂團為臺東在地樂團，來自於金峰嘉蘭的好聲音。由三位熱愛音樂的年輕人——主唱湘芸、吉他手韋涵、鼓手阿田所組成。旮勒思南是排灣族家族名，因為血液聚在一起，用音樂將自身的文化流傳下去。</p>
            </div>
        </article>

        <div class="img"><img src="../../static/img/singer/10-1旮勒思南樂團.jpg" alt="" /></div>

        <article class="uk-article">
            <div class="text uk-text-justify">
                <p>主唱瑞秋於 2020 年台灣原創流行音樂大獎獲得佳作，吉他手韋涵活躍於台東大街小巷，鼓手阿田爲台東在地樂團主唱。獲得 2021 臺灣原創流行音樂大獎原住民族語組首獎。</p>
            </div>
        </article>

        <div class="img"><img src="../../static/img/singer/10-2旮勒思南.jpg" alt="" /></div>


        <div class="embed-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/2sQRHTtQ1qU"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>

        <div class="embed-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/0gFvTcji9tA"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>



        <div class="bottom-icon uk-flex uk-flex-center">
            <ul class="uk-iconnav">
                <li><a href="https://www.facebook.com/profile.php?id=100064100890554"
                        class="uk-icon-button uk-margin-small-right" uk-icon="facebook"></a></li>
                <!-- <li><a href="https://www.youtube.com/channel/UCN63SYiGZiq5CErdmaTgS3w" class="uk-icon-button uk-margin-small-right" uk-icon="youtube"></a></li> -->
                <!-- <li><a href="https://www.instagram.com/faedetay/" class="uk-icon-button"uk-icon="instagram"></a></li> -->
            </ul>
        </div>
    </div>


    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.14.3/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.14.3/dist/js/uikit-icons.min.js"></script>
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- LIFF -->
    <script src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
</body>

</html>