<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>安懂 - 鐵花好音樂</title>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.14.3/dist/css/uikit.min.css" />
    <!-- My Own Style -->
    <link rel="stylesheet" href="../../static/css/singer.css" />
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
            var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-TFWW8F7');
    </script>
    <!-- End Google Tag Manager -->
</head>

<body uk-scrollspy="cls: uk-animation-fade; target: div; delay: 300;">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TFWW8F7" height="0" width="0"
            style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="sticky">
        <div class="img"><img src="../../static/img/singer/3-0安懂.jpg" alt="" /></div>
        <div class="title"><strong>安懂</strong></div>
    </div>



    <div class="above">

        <div class="img quote" id="quote-3"><img src="../../static/img/singer/3.quote.jpg" alt="無論舞台下的觀眾有多少，只要有一個人認真聽他唱歌，他就會一直唱下去。"></div>

        <div class="title"><strong>安懂</strong></div>

        <div class="livetime">
            <p class="uk-text-center">
                鐵花村演出日期：7/29 <br>
                <a href="">LINE MUSIC LIVE 直播 >></a>
            </p>
        </div>

        <article class="uk-article">
            <div class="text uk-text-justify">
                <p class="uk-dropcap">來自臺東的安懂，發行過兩張全創作專輯，學生時代與部落好友組成 Savakan 樂團，獲得貢寮海洋音樂季——海洋獨立音樂大賞前十強，在許多平台的樂團比賽也獲得佳績。從樂團形式到個人演出，2018 年參加《聲林之王》選秀節目讓許多人聽見來自台東的好聲音。</p>
                <p>從鄉村到城市，他總是細細觀察並結合各種音樂曲風，從英倫搖滾不斷向其它樂種延伸，以獨特的吶喊式唱腔，表達濃厚的情感張力。期望不光是陰鬱心情的表達，更希望能帶正向力量給聽眾，安懂堅持：無論舞台下的觀眾有多少，只要有一個人認真聽他唱歌，他就會一直唱下去。</p>
            </div>
        </article>

        <div class="img"><img src="../../static/img/singer/3-1安懂.jpg" alt="" /></div>

        <article class="uk-article">
            <div class="text uk-text-justify">
                <p><strong>Savakan 樂團經歷</strong></p>
                <p>2012、2013、2015年 焚風音樂比賽 鐵團獎</p>
                <p>2015年 原Band大賞 亞軍</p>
                <p>2015年 海洋音樂祭 前十強</p>
                <p>2015年 站出來！咖啡廣場樂團PK大賽 亞軍</p>
                <p>2015年 桃園原住民國際音樂節 亞軍</p>
                <br>
                <p><strong>安懂個人經歷</strong></p>
                <p>2018年 聲林之王第一屆選手</p>
                <p>2018年 發行個人首張專輯《私物招領》</p>
                <p>2019年 發行專輯《順著海流》</p>
            </div>
        </article>

        <div class="img"><img src="../../static/img/singer/3-2安懂.jpg" alt="" /></div>

        <div class="embed-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/M6O5wwNEK30"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>

        <div class="embed-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/uhepqG8m4Zg"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>

        <div class="embed-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/ONEVOn5YUnk"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        



        <div class="bottom-icon uk-flex uk-flex-center">
            <ul class="uk-iconnav">
                <li><a href="https://www.facebook.com/安懂-143560593008847/" class="uk-icon-button uk-margin-small-right"
                        uk-icon="facebook"></a></li>
                <li><a href="https://www.youtube.com/c/dmilemusic" class="uk-icon-button uk-margin-small-right" uk-icon="youtube"></a></li>
                <li><a href="https://www.instagram.com/andung1220/" class="uk-icon-button"
                        uk-icon="instagram"></a></li>
            </ul>
        </div>
    </div>


    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.14.3/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.14.3/dist/js/uikit-icons.min.js"></script>
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- LIFF -->
    <script src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
</body>

</html>