<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MUSIC LIVE 直播</title>

    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.14.3/dist/css/uikit.min.css" />
    <!-- My own style -->
    <link rel="stylesheet" href="../static/css/live.css" />
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
            var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-TFWW8F7');
    </script>
    <!-- End Google Tag Manager -->

</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TFWW8F7" height="0" width="0"
            style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <!-- <a href="{{ url_for('liff_music') }}"></a> -->
    <div class="nav" uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
        <div class="uk-text-center" uk-grid>
            <div class="navdiv uk-width-1-2" id="nav1">鐵 花 歌 手</div>
            <div class="navdiv uk-width-1-2" id="nav2">MUSIC LIVE 直播</div>
        </div>

        <div uk-grid>
            <div class="line uk-width-1-2" id="line1"></div>
            <div class="line uk-width-1-2" id="line2"></div>
        </div>
    </div>

    <div class="uk-flex uk-flex-center top">
        <img src="../static/img/music_live/title.jpg" alt="音 JOY 鐵花尋寶祭 X LIVE 直播">
    </div>

    <div class="uk-alert-success" uk-alert>
        <p>點擊圖片前往 <a href="https://music-tw.line.me/live/event-group/3971789b-c58e-4546-ae1f-ac23f3198963">LINE MUSIC LIVE</a> <br>查看更多資訊及取票！</p>
    </div>

    <div class="uk-flex uk-flex-center main">
        <a href="https://music-tw.line.me/live/event-group/3971789b-c58e-4546-ae1f-ac23f3198963">
            <img src="../static/img/music_live/info.jpg" alt="音 JOY 鐵花尋寶祭 X LIVE 直播">
        </a>
    </div>

    <div class="bottom uk-text-center">
        <p>想欣賞更多鐵花村的音樂？</p>
        <a class="uk-button uk-button-link" href="#modal-full" uk-toggle>
            <u>查看鐵花村 7 月份節目表 >></u>
        </a>
    </div>

    <div id="modal-full" class="uk-modal-full" uk-modal>
        <div class="uk-modal-dialog">
            <button class="uk-modal-close-default uk-close-large" type="button" uk-close></button>
            <div class="modal-main">
                <img src="../static/img/music_live/schedule_july.jpg" alt="">
                <div class="uk-padding-large uk-text-center">
                    <a href="../static/img/music_live/schedule_july.jpg" download="schedule_july.jpg" class="uk-button uk-button-default">點擊下載</a>
                </div>
            </div>
        </div>
    </div>


    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.14.3/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.14.3/dist/js/uikit-icons.min.js"></script>
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- LIFF -->
    <script src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
    <!-- JS -->
    <script>

        $(document).ready(function () {
            $("#nav1").click(() => { window.location = "https://linefresh-bot.herokuapp.com/liff/music"; });
        });
    </script>
</body>

</html>