<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>尋寶指南</title>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.14.3/dist/css/uikit.min.css" />
    <!-- My own style -->
    <link rel="stylesheet" href="../static/css/regulation.css" />
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
            var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-TFWW8F7');
    </script>
    <!-- End Google Tag Manager -->
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TFWW8F7" height="0" width="0"
            style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->


    <a href="./article.html"></a>

    <div class="nav" uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
        <div class="uk-text-center" uk-grid>
            <div class="navdiv uk-width-1-2" id="nav1">尋 寶 指 南</div>
            <div class="navdiv uk-width-1-2" id="nav2">鐵花精選文章</div>
        </div>

        <div uk-grid>
            <div class="line uk-width-1-2" id="line1"></div>
            <div class="line uk-width-1-2" id="line2"></div>
        </div>
    </div>

    <img src="../static/img/主視覺.jpg" alt="" class="main">

    <div class="tabs">
        <div class="tab">
            <input type="checkbox" id="tab1">
            <label class="tab-label" for="tab1">活動時間</label>
            <div class="tab-content">
                <div class="tab-words">
                    <p>2022/07/15（五）00:00 – 2022/08/07（日） 23:59（台灣時間，下同）</p>
                </div>
            </div>
        </div>

        <div class="tab">
            <input type="checkbox" id="tab2">
            <label class="tab-label" for="tab2">活動方式</label>
            <div class="tab-content">
                <div class="tab-words">
                    <p>於【音 JOY 鐵花尋寶祭】（以下稱本活動）指定活動期間，加入「臺東市區鐵花商圈」官方帳號好友（<a href="https://lin.ee/cyqB55b">點我前往>>
                        </a>），並前往台東市鐵花商圈完成各項任務，即有機會獲得商家優惠券、LINE POINTS、電子產品⋯⋯等獎項。</p>
                </div>
            </div>
        </div>

        <div class="tab">
            <input type="checkbox" id="tab3">
            <label class="tab-label" for="tab3">活動規則</label>
            <div class="tab-content">
                <div class="tab-words">
                    <p>1. 於【音 JOY 鐵花尋寶祭】（以下稱本活動）指定活動期間，加入「臺東市區鐵花商圈」官方帳號好友即可下載免費貼圖（<a
                            href="https://lin.ee/cyqB55b">點我前往>>
                        </a>）加入好友後，即可點選圖文選單之尋寶任務列表，查看各項尋寶任務介紹，完成任一任務，即可獲得抽取優惠轉盤機會，可能獲得店家消費優惠券、商品兌換券、LINE POINTS 或實體電子大獎。
                    </p>
                    <p>2. 累計完成本活動尋寶任務之任一個任務，即可獲得優惠轉盤機會乙次，抽獎次數可累積無上限次數。有關任務內容詳情請見「任務介紹」。</p>
                    <p>3. 參與本活動尋寶任務之「LOGO 尋寶趣」任務，每前往一間活動店家掃描尋寶
                        QRcode，除了可獲得優惠轉盤機會乙次（與完成任務之獎勵相同），還可以獲得一次額外大獎之抽獎機會，獎項將於活動結束（8/7）後抽出，並於一個月內公告領取方式。</p>
                    <p>4. 活動期間至獲得獎項前<span class="red">請務必加入並不要封鎖「臺東市區鐵花商圈」官方帳號</span>，如未加入或於獲得獎項前封鎖「<span
                            class="red">臺東市區鐵花商圈</span>」官方帳號，即無法參加活動並喪失進行活動資格，並無法獲得獎項。</p>
                    <p>5. 優惠轉盤活動採系統機制隨機發放、不可指定且可能重複，參與活動亦不代表可獲得特定獎項。有關各獎項細則、使用方式，詳情請見活動辦法「獎項內容」和「獎項說明及領獎注意事項」。</p>
                </div>
            </div>
        </div>

        <div class="tab">
            <input type="checkbox" id="tab4">
            <label class="tab-label" for="tab4">尋寶任務說明</label>
            <div class="tab-content">
                <div class="tab-words">
                    <p><b>一、遊戲方法</b></p>
                    <p>【音 JOY 鐵花尋寶祭】（以下稱本活動）共有以下七項尋寶任務：</p>
                    <p><b>1. 每日簽到：</b>在本活動官方帳號的輪播式圖文選單點選「每日簽到」的「簽到」按鈕，即完成任務並獲得乙次轉盤機會。</p>
                    <p><b>2. 分享歌單：</b>在本活動官方帳號的圖文選單中點擊「鐵花好音樂」，進到網頁後再點選「分享歌單」按鈕，就能將鐵花精選歌手名單分享給好友，即完成任務並獲得乙次轉盤機會。</p>
                    <p><b>3. 查看歌手資訊：</b>在本活動官方帳號的圖文選單中點擊「鐵花好音樂」，累積查看五位音樂人介紹，即完成任務並獲得乙次轉盤機會。</p>
                    <p><b>4. LOGO 尋寶趣：</b>在本活動官方帳號的圖文選單中點擊「尋寶任務」，找到對應合作店家的商圈 LOGO 並到店家掃描專屬 QRcode 後，即完成任務並獲得乙次轉盤機會。</p>
                    <p><b>5. VOOM 投稿：</b>與本活動打卡牆或鐵花村狗狗一起合照，發布於 LINE VOOM 「我站在鐵花裡」並 hashtag
                        鐵花關鍵字，回傳至官方帳號者即完成任務並獲得乙次轉盤機會，此外，前 1000 名投稿者可獲得 LINE POINTS 10 點獎勵。</p>
                    <p><b>6. MUSIC LIVE 序號：</b>至 LINE MUSIC LIVE 索取本次活動主辦之音樂表演線上門票，並點選尋寶任務中「登錄 MUSIC LIVE
                        門票序號」，輸入門票序號即完成任務並獲得乙次轉盤機會。</p>
                    <p><b>7. （不定期）鐵花小學堂：</b>在本活動官方帳號將不定時推播「鐵花小學堂」問答題，答對題目即完成任務並可獲得乙次轉盤機會。</p>
                    <br>
                    <p><b>二、遊戲規則</b></p>
                    <p>1. 遊戲開放時間：2022/7/15（五）～ 2022/8/7（日）。</p>
                    <p>2. 完成本活動上述所列任一尋寶任務乙次，即可獲得乙次轉盤機會， 或是完成鐵花 LOGO 尋寶趣，每掃描一家商家條碼即可獲得乙次轉盤機會。</p>
                    <p>3. 本活動轉盤遊戲之獎項-鐵花商圈商家優惠券，將會留存至「我的優惠券錢包」中，兌換過後即無法在錢包中查看。</p>
                    <p>4. 商圈優惠券兌換方式在本活動官方帳號點選「優惠轉盤」到「我的優惠券錢包」，出示該優惠券給店家即可獲得消費優惠。</p>
                    <br>
                    <p><b>三、注意事項</b></p>
                    <p>1. 並非所有台東市區鐵花商圈店家都參與本活動之鐵花 LOGO 尋寶趣活動，因此本活動不以所有鐵花 LOGO 當作尋寶目標，應以本活動官方帳號「LOGO尋寶趣」活動網頁中所示合作店家為主。
                    </p>
                    <p>2. 「查看歌手資訊」任務每一 LINE 帳號限定完成兩次。</p>
                </div>
            </div>
        </div>

        <div class="tab">
            <input type="checkbox" id="tab5">
            <label class="tab-label" for="tab5">優惠轉盤說明</label>
            <div class="tab-content">
                <div class="tab-words">
                    <p><b>一、遊戲方法</b></p>
                    <p>1. 完成【音 JOY 鐵花尋寶祭】（以下稱本活動） LINE 官方帳號中的尋寶任務，獲得優惠轉盤機會。</p>
                    <p>2. 在本活動官方帳號的圖文選單中點擊「優惠轉盤」，查看可啟動轉盤次數，並進行轉盤遊戲，獲得獎品。</p>
                    <p>3. 點擊右上方「我的優惠券錢包」查看已獲得的優惠券獎品。並點擊該優惠券參閱使用詳細說明（亦可參考活動辦法「獎品兌換」）。</p>
                    <p>4. 前往店家兌換優惠時，請出示該優惠券畫面，並交由店家按下兌換按鈕進行核銷。</p>
                    <p>5. 若獲得 LINE POINTS
                        以及實體獎品，您將收到來自本活動官方帳號的推播訊息。請您點擊該訊息中的表單連結，並填寫您的聯絡資料，待本活動單位聯繫您進行後續贈獎事宜。詳情請參閱活動辦法「獎品兌換」。</p>
                    <br>
                    <p><b>二、遊戲規則</b></p>
                    <p>1. 優惠轉盤開啟時間：2022/7/15（五）～ 2022/8/7（日）。</p>
                    <p>2. 完成本活動任一尋寶任務乙次，即可獲得乙次轉盤機會。</p>
                    <p>3. 本活動轉盤遊戲之獎項分為鐵花商圈優惠券、實體獎品兩大項目，前者將會留存至「我的優惠券錢包」中，兌換過後即無法在錢包中查看。</p>
                    <br>
                    <p><b>三、注意事項</b></p>
                    <p>1. 轉盤上羅列之獎項為獎品的類別集合，非所有獎項，以進行轉盤遊戲後顯示的得獎結果及我的優惠券錢包為主。</p>
                    <p>2.
                        轉盤顯示之每項獎品的面積大小並非得獎機率，實際機率以當時所存之獎品數量為主。亦可參閱活動辦法「獎品說明」了解獎品數量，惟須注意獎項一旦有使用者獲得，即減少一次該獎項的中獎機會。轉盤上的獎項羅列並不保證內容即時更新，請以得獎結果為主。
                    </p>
                    <p>3. 請向店家出示優惠券，由店家點選「兌換」按鈕完成兌獎，「兌換」按鈕須經店家確認使用後方可點選，請勿自行按下按鈕。如有誤按情況，本優惠券將視為已兌換，恕不補發。</p>
                    <p>4. 使用優惠券時務必先行參閱使用說明，並留意可兌換時間。</p>
                    <p>5. 本主辦活動單位保留獎品資格審核與轉盤內容修改權利，如有變更將於台東鐵花商圈臉書粉專「Live 鐵花心感動」中公布。</p>
                    <p>6.
                        本活動主辦單位有權檢視本活動參加者之參與轉盤遊戲行為及得獎情形是否涉嫌異常，例：人為操作、蓄意偽造、短時間異常多筆參與行為、透過任何電腦程式參與遊戲、詐欺或以任何其他不正當的方式進行不實或虛偽遊戲參與行為，活動參加者因上述情形所獲得之獎品資格及獎額，主辦單位保有取消得獎資格的權利，並保留法律追訴權。若有違反活動規範之行為，本主辦單位保留變更、取消參加者參加活動資格及得獎之權利。
                    </p>
                </div>
            </div>
        </div>

        <div class="tab">
            <input type="checkbox" id="tab6">
            <label class="tab-label" for="tab6">獎品說明</label>
            <div class="tab-content">
                <div class="tab-words">
                    <p><b>【任務獎項】(系統隨機抽取，不得更換)</b></p>
                    <p>．LINE POINTS 10 點（限量 100 份）</p>
                    <p>．LINE POINTS 100 點（限量 3 份）</p>
                    <p>．LINE POINTS 200 點（限量 1 份）</p>
                    <p>．LINE POINTS 1000 點（限量 1 份）</p>
                    <p>．青澤琪瑪酥正氣一店《脆脆捲捲》乙份（限量 100 份，青澤琪瑪酥贊助）</p>
                    <p>．青澤琪瑪酥正氣一店《琪瑪酥》乙份（限量 100 份，青澤琪瑪酥贊助）</p>
                    <p>．青澤琪瑪酥正氣二店《脆脆捲捲》乙份 （限量 100 份，青澤琪瑪酥贊助）</p>
                    <p>．青澤琪瑪酥正氣二店《琪瑪酥》乙份 （限量 100 份，青澤琪瑪酥贊助）</p>
                    <p>．青澤琪瑪酥鐵花店《脆脆捲捲》乙份 （限量 100 份，青澤琪瑪酥贊助）</p>
                    <p>．青澤琪瑪酥鐵花店《琪瑪酥》乙份 （限量 100 份，青澤琪瑪酥贊助）</p>
                    <p>．時光車站 初鹿鮮奶茶買一送一券乙張（限量 200 張，時光車站贊助）
                    <p>．花惹蜜全品項折價券 5 元（限量 300 張，花惹蜜贊助）</p>
                    <p>．烤大爺 100 元消費抵用券乙張（限量 200 張，烤大爺贊助）</p>
                    <p>．烤大爺 2 盤小菜兌換券乙張（限量 200 張，烤大爺贊助）</p>
                    <p>．蔬念滷味消費滿 100 元贈送泡菜乙份（限量 100 份，蔬念滷味贊助）</p>
                    <p>．九湯屋台東店 50 元消費抵用券乙張（限量 100 張，九湯屋台東店贊助）</p>
                    <p>．九湯屋台東店 1 盤小菜兌換券乙張（限量 300 張，九湯屋台東店贊助）</p>
                    <p>．客來吃樂消費滿 300 元贈送綠豆蒜剉冰乙碗（限量 168 份，客來吃樂贊助）</p>
                    <p>．客來吃樂消費滿 200 元贈送綠豆蒜冰棒乙枝（限量 168 份，客來吃樂贊助）</p>
                    <p>．台東六吋盤早午餐、六扇門火鍋、多那之咖啡 50 元商品兌換券，三家都可使用（限量 100 張，六吋盤早午餐、六扇門火鍋、多那之咖啡贊助）</p>
                    <p>．鷗咖啡台東店飲品 9 折券乙張（限量 50 張，鷗咖啡台東店贊助）</p>
                    <p>．臺東縣農產股份有限公司全品項 9.5 折消費抵用券乙張（限量 100 張，臺東縣農產股份有限公司贊助）</p>
                    <p>．秀異永華文化有限公司-東東市 滿百折 10 元消費抵用券乙張（限量 200 張，秀異永華文化有限公司-東東市贊助）</p>
                    <p>．秀異永華文化有限公司-東東市 滿千折 50 元消費抵用券乙張（限量 200 張，秀異永華文化有限公司-東東市贊助）</p>
                    <p>．南豐鐵花棧鐵花食坊餐飲 9 折券乙張（限量 500 張，南豐鐵花棧贊助，無法與店內優惠活動合併使用）</p>
                    <p>．南豐鐵花棧鐵花食坊餐飲 8 折券乙張（限量 500 張，南豐鐵花棧贊助，無法與店內優惠活動合併使用）</p>
                    <p>．南豐鐵花棧鐵花食坊餐飲調酒買一送一券乙張（限量 300 張，南豐鐵花棧贊助，無法與店內優惠活動合併使用）</p>
                    <p>．THE GAYA HOTEL Gaya Café 精選餐飲消費 50元 折價券乙張（限量 200 張，THE GAYA HOTEL 贊助）</p>
                    <p>．門廷若室旅店鐵花秀泰館住宿 9 折優惠券（限量 30 張，門廷若室旅店鐵花秀泰館贊助，限官網訂房，限平日入住）</p>
                    <p>．台東桂田喜來登酒店 L 夾乙份（限量 200 份，台東桂田喜來登酒店贊助）</p>
                    <p>．旅人驛站鐵花文創館 住宿現場價 9 折優惠券乙張（限量 100 張，旅人驛站鐵花文創館贊助）</p>
                    <p>．旅人驛站日暮微旅 住宿現場價 9 折優惠券乙張（限量 100 張，旅人驛站日暮微旅贊助）</p>
                </div>
            </div>
        </div>

        <div class="tab">
            <input type="checkbox" id="tab7">
            <label class="tab-label" for="tab7">獎品兌換方法</label>
            <div class="tab-content">
                <div class="tab-words">
                    <p><b>一、青澤琪瑪酥《脆脆捲捲》乙份 或《琪瑪酥》乙份</b></p>
                    <p>1. 中獎者需出示此手機優惠券至青澤指定分店<span class="red">【正氣一店、正氣二店、鐵花店】</span>由工作人員點選後始得兌換，翻拍、截圖或影印等傳送予他人方式無效。
                    </p>
                    <p>2. 兌換期間：<b style="text-decoration: underline;">2022/7/15-2022/8/7</b> 兌完為止。</p>
                    <p>3. 請勿直接點選優惠券的兌換按鈕，點選視同兌換，若有誤點情況恕不補發。</p>
                    <p>4. 實品以現場為主，無法要求更換或兌換現金。</p>
                    <p>5. 兌換優惠限各分店<b style="text-decoration: underline;">前 100 名用戶</b>（《脆脆捲捲》乙份 或《琪瑪酥》乙份各 100
                        名）兌換時使用，依青澤指定分店工作人員確認兌換順序為準，兌完為止。若出現無法結單、兌換之警語，表示已兌換達上限。</p>
                    <p>6. 如有任何變動與未盡事宜請依官網或現場公告為準，音 JOY 鐵花尋寶祭與青澤琪瑪酥保留本券使用最後修改權，與最終獎項說明及領獎注意事項之權利。</p>

                    <p><b>二、時光車站 初鹿鮮奶茶買一送一券乙張</b></p>
                    <p>1. 中獎者需出示此手機優惠券至<span class="red">【時光車站】</span>由工作人員點選後始得兌換，翻拍、截圖或影印等傳送予他人方式無效。</p>
                    <p>2. 兌換期間：<b style="text-decoration: underline;">2022/7/15-2022/8/7</b> 兌完為止。</p>
                    <p>3. 請勿直接點選優惠券的兌換按鈕，點選視同兌換，若有誤點情況恕不補發。</p>
                    <p>4. 實品以現場為主，無法要求更換或兌換現金。</p>
                    <p>5. 兌換優惠限各分店<b style="text-decoration: underline;">前 200
                            名用戶</b>（兌換時使用，依時光車站工作人員工作人員確認兌換順序為準，兌完為止。若出現無法結單、兌換之警語，表示已兌換達上限。</p>
                    <p>6. 如有任何變動與未盡事宜請依官網或現場公告為準，音 JOY 鐵花尋寶祭與時光車站保留本券使用最後修改權，與最終獎項說明及領獎注意事項之權利。</p>

                    <p><b>三、花惹蜜全品項折價券 5 元乙張</b></p>
                    <p>1. 中獎者需出示此手機優惠券至<span class="red">【花惹蜜】</span>由工作人員點選後始得兌換，翻拍、截圖或影印等傳送予他人方式無效。</p>
                    <p>2. 兌換期間：<b style="text-decoration: underline;">2022/7/15-2022/8/7</b> 兌完為止。</p>
                    <p>3. 請勿直接點選優惠券的兌換按鈕，點選視同兌換，若有誤點情況恕不補發。</p>
                    <p>4. 實品以現場為主，無法要求更換或兌換現金。</p>
                    <p>5. 兌換優惠限各分店<b style="text-decoration: underline;">前 300
                            名用戶</b>兌換時使用，依花惹蜜工作人員確認兌換順序為準，兌完為止。若出現無法結單、兌換之警語，表示已兌換達上限。</p>
                    <p>6. 如有任何變動與未盡事宜請依官網或現場公告為準，音 JOY 鐵花尋寶祭與花惹蜜保留本券使用最後修改權，與最終獎項說明及領獎注意事項之權利。</p>

                    <p><b>四、烤大爺 100 元消費抵用券乙張或 2 盤小菜兌換券乙張</b></p>
                    <p>1. 中獎者需出示此手機優惠券至<span class="red">【烤大爺】</span>由工作人員點選後始得兌換，翻拍、截圖或影印等傳送予他人方式無效。</p>
                    <p>2. 兌換期間：<b style="text-decoration: underline;">2022/7/15-2022/8/7</b> 兌完為止。</p>
                    <p>3. 請勿直接點選優惠券的兌換按鈕，點選視同兌換，若有誤點情況恕不補發。</p>
                    <p>4. 實品以現場為主，無法要求更換或兌換現金。</p>
                    <p>5. 兌換優惠限各分店<b style="text-decoration: underline;">前 200 名用戶</b>（消費抵用券乙張或 2 盤小菜兌換券乙份各 200
                        名）兌換時使用，依烤大爺工作人員確認兌換順序為準，兌完為止。若出現無法結單、兌換之警語，表示已兌換達上限。</p>
                    <p>6. 如有任何變動與未盡事宜請依官網或現場公告為準，音 JOY 鐵花尋寶祭與烤大爺保留本券使用最後修改權，與最終獎項說明及領獎注意事項之權利。</p>

                    <p><b>五、蔬念滷味消費滿 100 元贈送泡菜乙份</b></p>
                    <p>1. 中獎者需出示此手機優惠券至<span class="red">【蔬念滷味】</span>由工作人員點選後始得兌換，翻拍、截圖或影印等傳送予他人方式無效。</p>
                    <p>2. 兌換期間：<b style="text-decoration: underline;">2022/7/15-2022/8/7</b> 兌完為止。</p>
                    <p>3. 請勿直接點選優惠券的兌換按鈕，點選視同兌換，若有誤點情況恕不補發。</p>
                    <p>4. 實品以現場為主，無法要求更換或兌換現金。</p>
                    <p>5. 兌換優惠限各分店<b style="text-decoration: underline;">前 100
                            名用戶</b>兌換時使用，依蔬念滷味工作人員確認兌換順序為準，兌完為止。若出現無法結單、兌換之警語，表示已兌換達上限。</p>
                    <p>6. 如有任何變動與未盡事宜請依官網或現場公告為準，音 JOY 鐵花尋寶祭與蔬念滷味保留本券使用最後修改權，與最終獎項說明及領獎注意事項之權利。</p>

                    <p><b>六、九湯屋台東店 50 元消費抵用券乙張</b></p>
                    <p>1. 中獎者需出示此手機優惠券至<span class="red">【九湯屋台東店】</span>由工作人員點選後始得兌換，翻拍、截圖或影印等傳送予他人方式無效。</p>
                    <p>2. 兌換期間：<b style="text-decoration: underline;">2022/7/15-2022/8/7</b> 兌完為止。</p>
                    <p>3. 請勿直接點選優惠券的兌換按鈕，點選視同兌換，若有誤點情況恕不補發。</p>
                    <p>4. 實品以現場為主，無法要求更換或兌換現金。</p>
                    <p>5. 兌換優惠限各分店<b style="text-decoration: underline;">前 100
                            名用戶</b>兌換時使用，依九湯屋台東店工作人員確認兌換順序為準，兌完為止。若出現無法結單、兌換之警語，表示已兌換達上限。</p>
                    <p>6. 如有任何變動與未盡事宜請依官網或現場公告為準，音 JOY 鐵花尋寶祭與九湯屋台東店保留本券使用最後修改權，與最終獎項說明及領獎注意事項之權利。</p>

                    <p><b>七、九湯屋台東店 1 盤小菜兌換券乙張</b></p>
                    <p>1. 中獎者需出示此手機優惠券至<span class="red">【九湯屋台東店】</span>由工作人員點選後始得兌換，翻拍、截圖或影印等傳送予他人方式無效。</p>
                    <p>2. 兌換期間：<b style="text-decoration: underline;">2022/7/15-2022/8/7</b> 兌完為止。</p>
                    <p>3. 請勿直接點選優惠券的兌換按鈕，點選視同兌換，若有誤點情況恕不補發。</p>
                    <p>4. 實品以現場為主，無法要求更換或兌換現金。</p>
                    <p>5. 兌換優惠限各分店<b style="text-decoration: underline;">前 300
                            名用戶</b>兌換時使用，依九湯屋台東店工作人員確認兌換順序為準，兌完為止。若出現無法結單、兌換之警語，表示已兌換達上限。</p>
                    <p>6. 如有任何變動與未盡事宜請依官網或現場公告為準，音 JOY 鐵花尋寶祭與九湯屋台東店保留本券使用最後修改權，與最終獎項說明及領獎注意事項之權利。</p>

                    <p><b>八、客來吃樂消費滿 300 元贈送綠豆蒜剉冰乙碗、消費滿 200 元贈送綠豆蒜冰棒乙枝</b></p>
                    <p>1. 中獎者需出示此手機優惠券至<span class="red">【客來吃樂】</span>由工作人員點選後始得兌換，翻拍、截圖或影印等傳送予他人方式無效。</p>
                    <p>2. 兌換期間：<b style="text-decoration: underline;">2022/7/15-2022/8/7</b> 兌完為止。</p>
                    <p>3. 請勿直接點選優惠券的兌換按鈕，點選視同兌換，若有誤點情況恕不補發。</p>
                    <p>4. 實品以現場為主，無法要求更換或兌換現金。</p>
                    <p>5. 兌換優惠限各分店<b style="text-decoration: underline;">前 168
                            名用戶</b>兌換時使用，依客來吃樂工作人員確認兌換順序為準，兌完為止。若出現無法結單、兌換之警語，表示已兌換達上限。</p>
                    <p>6. 如有任何變動與未盡事宜請依官網或現場公告為準，音 JOY 鐵花尋寶祭與客來吃樂保留本券使用最後修改權，與最終獎項說明及領獎注意事項之權利。</p>

                    <p><b>九、台東六吋盤早午餐、 六扇門火鍋、多那之咖啡 50 元商品兌換券</b></p>
                    <p>1. 中獎者需出示此手機優惠券至<span class="red">【台東六吋盤早午餐、六扇門火鍋、多那之咖啡】</span>由工作人員點選後始得兌換，翻拍、截圖或影印等傳送予他人方式無效。
                    </p>
                    <p>2. 兌換期間：<b style="text-decoration: underline;">2022/7/15-2022/8/7</b> 兌完為止。</p>
                    <p>3. 請勿直接點選優惠券的兌換按鈕，點選視同兌換，若有誤點情況恕不補發。</p>
                    <p>4. 實品以現場為主，無法要求更換或兌換現金。</p>
                    <p>5. 兌換優惠限各分店<b style="text-decoration: underline;">前 100
                            名用戶</b>（可自由選擇至三間其中一間兌換）兌換時使用，依台東六吋盤早午餐、六扇門火鍋、多那之咖啡工作人員確認兌換順序為準，兌完為止。若出現無法結單、兌換之警語，表示已兌換達上限。
                    </p>
                    <p>6. 如有任何變動與未盡事宜請依官網或現場公告為準，音 JOY 鐵花尋寶祭與台東六吋盤早午餐、六扇門火鍋、多那之咖啡保留本券使用最後修改權，與最終獎項說明及領獎注意事項之權利。</p>

                    <p><b>十、鷗咖啡台東店飲品 9 折券乙張</b></p>
                    <p>1. 中獎者需出示此手機優惠券至<span class="red">【鷗咖啡台東店】</span>由工作人員點選後始得兌換，翻拍、截圖或影印等傳送予他人方式無效。</p>
                    <p>2. 兌換期間：<b style="text-decoration: underline;">2022/7/15-2022/8/7</b> 兌完為止。</p>
                    <p>3. 請勿直接點選優惠券的兌換按鈕，點選視同兌換，若有誤點情況恕不補發。</p>
                    <p>4. 實品以現場為主，無法要求更換或兌換現金。</p>
                    <p>5. 兌換優惠限各分店<b style="text-decoration: underline;">前 50
                            名用戶</b>兌換時使用，依鷗咖啡台東店工作人員確認兌換順序為準，兌完為止。若出現無法結單、兌換之警語，表示已兌換達上限。</p>
                    <p>6. 如有任何變動與未盡事宜請依官網或現場公告為準，音 JOY 鐵花尋寶祭與鷗咖啡台東店保留本券使用最後修改權，與最終獎項說明及領獎注意事項之權利。</p>

                    <p><b>十一、臺東縣農產股份有限公司全品項 9.5 折消費抵用券乙張</b></p>
                    <p>1. 中獎者需出示此手機優惠券至<span class="red">【臺東縣農產股份有限公司】</span>由工作人員點選後始得兌換，翻拍、截圖或影印等傳送予他人方式無效。</p>
                    <p>2. 兌換期間：<b style="text-decoration: underline;">2022/7/15-2022/8/7</b> 兌完為止。</p>
                    <p>3. 請勿直接點選優惠券的兌換按鈕，點選視同兌換，若有誤點情況恕不補發。</p>
                    <p>4. 實品以現場為主，無法要求更換或兌換現金。</p>
                    <p>5. 兌換優惠限各分店<b style="text-decoration: underline;">前 100
                            名用戶</b>兌換時使用，依臺東縣農產股份有限公司工作人員確認兌換順序為準，兌完為止。若出現無法結單、兌換之警語，表示已兌換達上限。</p>
                    <p>6. 如有任何變動與未盡事宜請依官網或現場公告為準，音 JOY 鐵花尋寶祭與臺東縣農產股份有限公司保留本券使用最後修改權，與最終獎項說明及領獎注意事項之權利。</p>

                    <p><b>十二、秀異永華文化有限公司-東東市滿百折 10 元消費抵用券乙張、滿千折 50 元消費抵用券乙張</b></p>
                    <p>1. 中獎者需出示此手機優惠券至<span class="red">【秀異永華文化有限公司-東東市】</span>由工作人員點選後始得兌換，翻拍、截圖或影印等傳送予他人方式無效。</p>
                    <p>2. 兌換期間：<b style="text-decoration: underline;">2022/7/15-2022/8/7</b> 兌完為止。</p>
                    <p>3. 請勿直接點選優惠券的兌換按鈕，點選視同兌換，若有誤點情況恕不補發。</p>
                    <p>4. 實品以現場為主，無法要求更換或兌換現金。</p>
                    <p>5. 兌換優惠限各分店<b style="text-decoration: underline;">前 200 名用戶</b>（滿百折 10 元消費抵用券乙張、滿千折 50 元消費抵用券乙張各
                        200 名）兌換時使用，依秀異永華文化有限公司-東東市工作人員確認兌換順序為準，兌完為止。若出現無法結單、兌換之警語，表示已兌換達上限。</p>
                    <p>6. 如有任何變動與未盡事宜請依官網或現場公告為準，音 JOY 鐵花尋寶祭與秀異永華文化有限公司-東東市保留本券使用最後修改權，與最終獎項說明及領獎注意事項之權利。</p>

                    <p><b>十三、南豐鐵花棧鐵花食坊餐飲 9 折券乙張、餐飲 8 折券乙張</b></p>
                    <p>1. 中獎者需出示此手機優惠券至<span class="red">【南豐鐵花棧鐵花食坊】</span>由工作人員點選後始得兌換，翻拍、截圖或影印等傳送予他人方式無效。</p>
                    <p>2. 兌換期間：<b style="text-decoration: underline;">2022/7/15-2022/8/7</b> 兌完為止。</p>
                    <p>3. 請勿直接點選優惠券的兌換按鈕，點選視同兌換，若有誤點情況恕不補發。</p>
                    <p>4. 實品以現場為主，無法要求更換或兌換現金。</p>
                    <p>5. 兌換優惠限各分店<b style="text-decoration: underline;">前 500 名用戶</b>（餐飲 9 折券乙張、餐飲 8 折券乙張各 500
                        名）兌換時使用，依南豐鐵花棧工作人員確認兌換順序為準，兌完為止。若出現無法結單、兌換之警語，表示已兌換達上限。</p>
                    <p>6. 如有任何變動與未盡事宜請依官網或現場公告為準，音 JOY 鐵花尋寶祭與南豐鐵花棧鐵花食坊保留本券使用最後修改權，與最終獎項說明及領獎注意事項之權利。</p>

                    <p><b>十四、南豐鐵花棧鐵花食坊餐飲調酒買一送一券乙張</b></p>
                    <p>1. 中獎者需出示此手機優惠券至<span class="red">【南豐鐵花棧鐵花食坊】</span>由工作人員點選後始得兌換，翻拍、截圖或影印等傳送予他人方式無效。</p>
                    <p>2. 兌換期間：<b style="text-decoration: underline;">2022/7/15-2022/8/7</b> 兌完為止。</p>
                    <p>3. 請勿直接點選優惠券的兌換按鈕，點選視同兌換，若有誤點情況恕不補發。</p>
                    <p>4. 實品以現場為主，無法要求更換或兌換現金。</p>
                    <p>5. 兌換優惠限各分店<b style="text-decoration: underline;">前 300
                            名用戶</b>兌換時使用，依南豐鐵花棧鐵花食坊工作人員確認兌換順序為準，兌完為止。若出現無法結單、兌換之警語，表示已兌換達上限。</p>
                    <p>6. 如有任何變動與未盡事宜請依官網或現場公告為準，音 JOY 鐵花尋寶祭與南豐鐵花棧鐵花食坊保留本券使用最後修改權，與最終獎項說明及領獎注意事項之權利。</p>

                    <p><b>十五、THE GAYA HOTEL Gaya Café 精選餐飲消費 50 元 折價券乙張</b></p>
                    <p>1. 中獎者需出示此手機優惠券至<span class="red">【THE GAYA HOTEL Gaya
                            Café】</span>由工作人員點選後始得兌換，翻拍、截圖或影印等傳送予他人方式無效。</p>
                    <p>2. 兌換期間：<b style="text-decoration: underline;">2022/7/15-2022/8/7</b> 兌完為止。</p>
                    <p>3. 請勿直接點選優惠券的兌換按鈕，點選視同兌換，若有誤點情況恕不補發。</p>
                    <p>4. 實品以現場為主，無法要求更換或兌換現金。</p>
                    <p>5. 兌換優惠限各分店<b style="text-decoration: underline;">前 200 名用戶</b>兌換時使用，依 THE GAYA HOTEL Gaya Café
                        工作人員確認兌換順序為準，兌完為止。若出現無法結單、兌換之警語，表示已兌換達上限。</p>
                    <p>6. 如有任何變動與未盡事宜請依官網或現場公告為準，音 JOY 鐵花尋寶祭與 THE GAYA HOTEL Gaya Café 保留本券使用最後修改權，與最終獎項說明及領獎注意事項之權利。
                    </p>

                    <p><b>十六、門廷若室旅店鐵花秀泰館住宿 9 折優惠券乙張</b></p>
                    <p>1. 中獎者需出示此手機優惠券至<span class="red">【門廷若室旅店鐵花秀泰館】</span>由工作人員點選後始得兌換，翻拍、截圖或影印等傳送予他人方式無效。</p>
                    <p>2. 兌換期間：<b style="text-decoration: underline;">2022/7/15-2022/8/7</b> 兌完為止。</p>
                    <p>3. 請勿直接點選優惠券的兌換按鈕，點選視同兌換，若有誤點情況恕不補發。</p>
                    <p>4. 實品以現場為主，無法要求更換或兌換現金。</p>
                    <p>5. 兌換優惠限各分店<b style="text-decoration: underline;">前 50
                            名用戶</b>兌換時使用，依門廷若室旅店鐵花秀泰館工作人員確認兌換順序為準，兌完為止。若出現無法結單、兌換之警語，表示已兌換達上限。</p>
                    <p>6. 如有任何變動與未盡事宜請依官網或現場公告為準，音 JOY 鐵花尋寶祭與門廷若室旅店鐵花秀泰館保留本券使用最後修改權，與最終獎項說明及領獎注意事項之權利。</p>

                    <p><b>十七、台東桂田喜來登酒店額溫片乙份或 L 夾乙份</b></p>
                    <p>1. 中獎者需出示此手機優惠券至<span class="red">【台東桂田喜來登酒店】</span>由工作人員點選後始得兌換，翻拍、截圖或影印等傳送予他人方式無效。</p>
                    <p>2. 兌換期間：<b style="text-decoration: underline;">2022/7/15-2022/8/7</b> 兌完為止。</p>
                    <p>3. 請勿直接點選優惠券的兌換按鈕，點選視同兌換，若有誤點情況恕不補發。</p>
                    <p>4. 實品以現場為主，無法要求更換或兌換現金。</p>
                    <p>5. 兌換優惠限各分店<b style="text-decoration: underline;">前 200
                            名用戶</b>兌換時使用，依台東桂田喜來登酒店工作人員確認兌換順序為準，兌完為止。若出現無法結單、兌換之警語，表示已兌換達上限。</p>
                    <p>6. 如有任何變動與未盡事宜請依官網或現場公告為準，音 JOY 鐵花尋寶祭與台東桂田喜來登酒店保留本券使用最後修改權，與最終獎項說明及領獎注意事項之權利。</p>

                    <p><b>十八、旅人驛站鐵花文創館住宿現場價 9 折優惠券乙張</b></p>
                    <p>1. 中獎者需出示此手機優惠券至<span class="red">【旅人驛站鐵花文創館】</span>由工作人員點選後始得兌換，翻拍、截圖或影印等傳送予他人方式無效。</p>
                    <p>2. 兌換期間：<b style="text-decoration: underline;">2022/7/15-2022/8/7</b> 兌完為止。</p>
                    <p>3. 請勿直接點選優惠券的兌換按鈕，點選視同兌換，若有誤點情況恕不補發。</p>
                    <p>4. 實品以現場為主，無法要求更換或兌換現金。</p>
                    <p>5. 兌換優惠限各分店<b style="text-decoration: underline;">前 100
                            名用戶</b>兌換時使用，依旅人驛站鐵花文創館工作人員確認兌換順序為準，兌完為止。若出現無法結單、兌換之警語，表示已兌換達上限。</p>
                    <p>6. 如有任何變動與未盡事宜請依官網或現場公告為準，音 JOY 鐵花尋寶祭與旅人驛站鐵花文創館保留本券使用最後修改權，與最終獎項說明及領獎注意事項之權利。</p>

                    <p><b>十九、旅人驛站日暮微旅住宿現場價 9 折優惠券乙張</b></p>
                    <p>1. 中獎者需出示此手機優惠券至<span class="red">【旅人驛站日暮微旅】</span>由工作人員點選後始得兌換，翻拍、截圖或影印等傳送予他人方式無效。</p>
                    <p>2. 兌換期間：<b style="text-decoration: underline;">2022/7/15-2022/8/7</b> 兌完為止。</p>
                    <p>3. 請勿直接點選優惠券的兌換按鈕，點選視同兌換，若有誤點情況恕不補發。</p>
                    <p>4. 實品以現場為主，無法要求更換或兌換現金。</p>
                    <p>5. 兌換優惠限各分店<b style="text-decoration: underline;">前 100
                            名用戶</b>兌換時使用，依旅人驛站日暮微旅工作人員確認兌換順序為準，兌完為止。若出現無法結單、兌換之警語，表示已兌換達上限。</p>
                    <p>6. 如有任何變動與未盡事宜請依官網或現場公告為準，音 JOY 鐵花尋寶祭與旅人驛站日暮微旅保留本券使用最後修改權，與最終獎項說明及領獎注意事項之權利。</p>

                    <p><b>二十、LINE POINTS 1000、200、100、10 點</b></p>
                    <p>1. 中獎者會收到官方帳號推播的文字訊息，點擊訊息中的連結會跳出「LINE POINTS 即享券頁面」 本券上之「立即入點」→ 確認 LINE 帳號 → 完成入點後即可在 LINE
                        錢包查看獲得點數的紀錄。</p>
                    <p>2. 兌換期間：<b style="text-decoration: underline;">2022/7/15-2022/8/7</b> 兌完為止。</p>
                    <p>3. 若您尚未成為LINE的會員，請先下載 LINE APP 註冊加入。 </p>
                    <p>4. 本券<br>
                        ．序號具唯一性，一組序號僅供儲值一次，儲值後該序號視同已兌換，不接受取消或返還。<br>
                        ．為不記名，任何人持本券皆可使用，請自行妥善保管，如遭他人盜用，本券不再補發。<br>
                        ．無法直接折抵現金，須先歸戶後方得使用。<br>
                        ．須於序號效期前儲值為 LINE POINTS。<br>
                        ．LINE POINTS 的有效期限為最後一次獲得點數當天起算 180 天內，一旦超過有效期限，您所持有的點數將會全數失效。 <br>
                    </p>
                    <p>5. 有關 LINE POINTS 的使用方法，請參考 <a href="https://help2.line.me/linepoints">LINE POINTS 服務中心</a>。</p>
                    <p>6. 如有任何變動與未盡事宜請依官網或現場公告為準，音 JOY 鐵花尋寶祭保留本點數使用最後修改權，與最終獎項說明及領獎注意事項之權利。</p>

                </div>
            </div>
        </div>

        <div class="tab">
            <input type="checkbox" id="tab8">
            <label class="tab-label" for="tab8">注意事項</label>
            <div class="tab-content">
                <div class="tab-words">
                    <p>一、本活動僅限安卓（Android OS）系統 7.0 及以上和 iPhone（iOS）系統 13.0 及以上的智慧型手機用戶參加，且 LINE 版本為 9.14.0 以上。</p>
                    <p>二、參加活動前請先確認系統是否符合限制，若因系統不符而導致無法收取活動通知、訊息、或領取活動獎項，本活動將不予補發。</p>
                    <p>三、本次活動僅限 LINE 帳號已設定台灣手機門號的用戶，如為未設定台灣手機門號、僅使用 Facebook 認證或因故無法判定帳號所在國籍之用戶，恕無法參加本次活動。</p>
                    <p>四、活動期間至獲得獎項前請務必加入並不要封鎖「臺東市區鐵花商圈」官方帳號，如未加入或於獲得獎項前封鎖「臺東市區鐵花商圈」官方帳號，即無法參加活動並喪失進行活動資格，並無法獲得獎項。</p>
                    <p>五、在活動期間變更手機型號、變更本服務的國家設定之行為，最終有可能無法順利獲得本次活動之獎項。例如：在設定國家為台灣的狀態下參加活動，但事後更動國家設定為美國，即使符合本次活動之兌獎資格，則有可能僅收到中獎通知但因事後更動國家設定而無從獲得獎項，敬請見諒。
                    </p>
                    <p>六、本次活動獎項部分由各贊助商提供，相關使用限制請參考各贊助商之規定。</p>
                </div>
            </div>
        </div>

        <div class="tab">
            <input type="checkbox" id="tab9">
            <label class="tab-label" for="tab9">活動聲明、限制及告知事項</label>
            <div class="tab-content">
                <div class="tab-words">
                    <p>一、本活動由 LINE FRESH、臺東市區鐵花商圈發展協會與台灣好基金會 x
                        鐵花村音樂聚落·慢市集聯合主辦，指導單位為台東縣政府，智策慧品牌顧問有限公司（以下合稱「主辦單位」）承辦，活動參加者必須遵守主辦單位公佈之本活動辦法、相關活動規則及注意事項，如有違反視同棄權，主辦單位並得取消其領取獎項資格。
                    </p>
                    <p>二、若因用戶網路狀況、裝置差異、手機設定、移轉帳號或其他變更等不可預測之因素導致活動無法順利完成或獲得之獎項遺失，主辦單位將不負擔任何責任或損害賠償。</p>
                    <p>三、主辦單位保有修改、變更、暫停、中止、提前終止或取消本活動或獎項之權利，如有未盡事宜，悉依主辦單位相關規定或解釋辦理，而得隨時補充公告之；且主辦單位保留對本活動辦法（包含注意事項）隨時增加、修改、刪減及最終解釋之權利。如有任何變更將公告於活動網頁中，恕不另行通知。主辦單位對於所有活動流程擁有最終解釋權。
                    </p>
                    <p>四、領獎與稅法須知<br>
                        依中華民國稅法規定，中獎者若為中華民國境內居住之個人，中獎金額（價值）超過新台幣 1,000 元以上者，年度報稅時將計入個人所得，並由中獎者自行申報。中獎金額（價值）在新台幣 20,010
                        元以上者，中獎者依法需先繳交 10%
                        機會中獎稅金，始可領獎。中獎者若非中華民國境內居住之個人，不論得獎者所得之金額，須先就中獎所得扣繳 20% 機會中獎稅金，始可領獎。中獎者若為未成年人，應檢附戶籍謄本並提出法定代理人同意書。若中獎者不願先行繳納本項稅金，視同放棄中獎資格，且不得異議。中獎者參加本活動而需支付任何稅捐皆為中獎者之法定義務，概與主辦／執行／贊助單位無關。前述稅捐法規如有更新或變動者，依修正後之規定辦理。
                    </p>
                    <p>五、主辦單位有權不予事前通知且無需說明理由而將特定用戶排除於本活動外或取消其中獎。</p>
                    <p>六、獲得獎項者若是未成年者的情形，關於獎項領取以及各種相關手續等問題，主辦單位將確認獲得獎項者事前是否有取得法定代理人之同意，並請協助提供相關文件（包含但不限於法定代理人之證件影本），還請見諒。（僅符合該條件者，主辦單位會另外進行聯繫）。
                    </p>
                    <p>七、主辦單位在法律許可範圍內，對於用戶因參與本活動而生之一切損失及損害，皆不負賠償或補償之責。</p>
                    <p>八、若因活動參加者違反相關規則，或參加者之不當或違法行為導致權利人之合法權益遭受侵害，或主辦單位因此受有損害（如致生訴訟而遭權利人求償）時，活動參加者同意對於權利人及主辦單位因此所受之損害及因此所支出之相關費用負擔賠償責任，並應由活動參加者自行負擔相關法律責任；主辦單位並有權取消其參加及獲得獎項資格。違規行為包含但不限於：<br>
                        ．以自動化、欺瞞之惡意手法，在瀏覽者尚未點擊廣告或產品連結，植入追蹤代碼等。<br>
                        ．以惡意 Spam 或非真實推薦商品方式（如大量廣告信或留言版洗版等），作為推廣商品手法。<br>
                        ．透過推薦連結購買商品，係供自用而無實質推薦行為者。<br>
                        ．透過推薦騷擾他人者。<br>
                        ．任何侵犯他人智慧財產權與專利權詐欺、資料造假、蓄意破壞活動秩序之行為。
                    </p>
                    <p>九、個人資料告知事項：<br>
                        1. 主辦單位將蒐集活動參加者的 LINE 帳號之 User ID、LINE Beacon
                        觸發資訊、活動參加時間、活動連結分享方式等得以直接或間接識別個人的資料，以用於本活動獎項之訊息通知、獎項發送以及本活動期間相關之用戶、活動參加者管理與服務、行銷、活動成效分析等目的。前揭個人資料將於獎項之訊息通知與獎項發送，以及行銷訊息發送的必要範圍內提供予台灣連線股份有限公司及
                        LINE Corporation 等贊助商利用，利用期間限於活動開始後至活動舉辦期間結束後六個月內；利用地區限於活動舉辦地區（限台灣門號註冊之用戶）；利用對象與方式：利用 LINE 帳號之
                        User ID
                        確認活動參加者及發送獎項，並於舉辦活動與發送/寄送獎項之目的範圍內將該等資訊分享予台灣連線股份有限公司等贊助商。若活動參加者不願提供相關之個人資料予主辦單位，或者請求停止蒐集、處理或利用，或者請求刪除所蒐集之個資，將視為放棄活動參與資格及獲得活動獎項之資格。<br>
                        2. 活動參加者得主張個資法第三條之當事人權利。另有關台灣連線對個人資料之處理與利用，請參閱<a
                            href="https://terms.line.me/line_tw_privacy_policy?lang=zh-Hant">台灣連線股份有限公司隱私權政策</a>。其他有關
                        LINE Corporation 對個人資料之蒐集、處理及利用，請參考 <a href="https://terms.line.me/line_rules?lang=zh-Hant">LINE
                            Corporation 隱私權政策</a>。
                    </p>
                    <p>十、用戶請同意以上條件後再參加本次活動。如有違反，主辦單位有權取消其參加或獲得獎項資格。</p>
                    <p>十一、如因本活動而涉訟，用戶同意以臺灣臺東地方法院為第一審管轄法院。</p>
                    <p>十二、如針對本活動有任何疑問，請洽臺東縣政府，08-9326141。</p>
                </div>
            </div>
        </div>

        <div class="tab">
            <input type="checkbox" id="tab10">
            <label class="tab-label" for="tab10">常見問題</label>
            <div class="tab-content">
                <div class="tab-words">
                    <p><strong>一、「尋寶任務」常見問題</strong></p>
                    <p>
                        <b>Q：每個任務都可以一直重複做嗎？</b><br>
                        A：<br>
                        ．「每日簽到」以及「分享歌單」每日一次<br>
                        ．MUSIC LIVE 直播當天，每組序號登入一次<br>
                        ．「查看歌手」以五個單位為一次，每日最多可以完成兩次<br>
                        ．「LOGO 尋寶趣」以及「我站在鐵花裡」則是不限次數<br>
                        更詳細的任務內容可以查看活動辦法「尋寶任務說明」。
                    </p>
                    <p>
                        <b>Q：完成任務獲取轉盤機會的次數是否有上限？</b><br>
                        A：沒有上限。只要完成任一任務，就可以獲得乙次轉盤機會，可以累積並無上限，因此，完成越多任務，就可以擁有越多的轉盤次數！
                    </p>
                    <p>
                        <b>Q：LINE VOOM 投稿活動的點數何時會得到？</b><br>
                        A：本獎勵將於 2022 年 9 月 7 日前陸續發送，需審核投稿內容是否符合活動主題，若上傳與活動內容無關之投稿，將無法獲得點數。
                    </p>
                    <br>
                    <p><strong>二、「優惠轉盤」常見問題</strong></p>
                    <p>
                        <b>Q：哪裡可以看到我全部的優惠券？</b><br>
                        A：點選圖文選單上的優惠轉盤，在優惠轉盤的「我的優惠券錢包」就可以查看了喔！
                    </p>
                    <p>
                        <b>Q：優惠券如何使用？有使用期限嗎？</b><br>
                        A：中獎者需出示此手機優惠券至相對店家兌換，翻拍、截圖或影印等傳送予他人方式無效，兌換期間：<b
                            style="text-decoration: underline;">2022/7/15-2022/8/7</b>。
                    </p>
                    <p>
                        <b>Q：優惠券是拿到就一定可以使用嗎？</b><br>
                        A：優惠券數量有限，先用先贏，依確認兌換順序為準，若出現無法結單、兌換之警語，表示已兌換達上限。
                    </p>
                    <p>
                        <b>Q：LINE POINTS 點數要去哪裡查看？</b>
                        關於本活動發放之 LINE POINTS 將透過「音 JOY 鐵花尋寶祭」官方帳號發送給用戶。請至 LINE 應用程式中的「錢包」＞「LINE POINTS」＞「歷史紀錄」查看。 LINE
                        POINTS 有效期限為最後一次獲得點數當日起算 180 日止，可用於購買 LINE 貼圖、主題小舖、LINE 酷券、口袋商店折抵商品，若超過有效期限未使用 LINE
                        POINTS，視同放棄使用權利。 惟在使用 LINE POINTS 前，須先於 LINE 帳號內完成電話號碼設定。LINE POINTS 相關規定，請參考 <a
                            href="https://terms2.line.me/pointclub_point_terms/sp?lang=zh-Hant">LINE POINTS 使用條款</a>與<a
                            href="https://help2.line.me/linepoints/android/pc?lang=zh-Hant">條件及問答集</a>。
                    </p>
                    <br>
                    <p><strong>三、「LOGO 尋寶趣」常見問題</strong></p>
                    <p>
                        <b>Q：如何掃描尋寶 QRcode？</b><br>
                        A：找到鐵花商圈協會的 LOGO 後，到該店家的櫃台就可以看到一個專屬 LOGO 尋寶趣的小立板，開啟內建相機掃描，系統就會自動辨識你已經掃到該店家的 QRcode！
                    </p>
                    <p>
                        <b>Q：如何知道哪些店家可以掃描尋寶 QRcode？</b><br>
                        A：點選圖文選單上的「LOGO 尋寶趣」，就可以在該頁面查看「已經尋寶的店家」以及「尚未尋寶的店家」，或是可以在臉書貼文查看喔！！
                    </p>
                    <p>
                        <b>Q：可以重複掃描同一店家的 QRcode 嗎？</b><br>
                        A：不行喔！活動期間內一個店家只能尋寶一次，快點選圖文選單上的「LOGO 尋寶趣」，查看你「已經尋寶的店家」以及「尚未尋寶的店家」，快點將還沒尋寶到的店家納入你的尋寶地圖吧！
                    </p>
                    <br>
                    <p><strong>四、「鐵花好音樂」常見問題</strong></p>
                    <p>
                        <b>Q：在音樂人頁面中的任務進度條是什麼？</b><br>
                        A：在本活動官方帳號的圖文選單中點擊「鐵花好聲音」，累積查看五位音樂人介紹，即完成任務並可進行轉盤遊戲。因此可透過音樂人頁面中進度了解已經觀看多少音樂人。
                    </p>
                    <p>
                        <b>Q：如何在 LINE MUSIC LIVE 上索取音樂直播門票？</b><br>
                        A：關於 LINE MUSIC LIVE 常見問題請參考：<a
                            href="https://help2.line.me/LINEMusicTW/web/sp?lang=zh-Hant">LINE MUSIC TW 常見問題</a>。
                    </p>
                    <p>
                        <b>Q：如何查詢直播票券領取／購買紀錄？</b><br>
                        A：您可透過LINE MUSIC 官網 ＞ 點選左上角個人頭像 ＞「直播訂票紀錄 」查看。
                    </p>

                    <p>
                        <b>Q：這次活動在 LINE MUSIC LIVE 上的表演是免費觀看嗎？</b><br>
                        A：是，只要索取票券就可以免費觀看線上表演，本次活動機會難得，請把握機會以免向隅。
                    </p>
                </div>
            </div>
        </div>


    </div>

    <button type="button" id="BackTop" class="toTop-arrow"></button>

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.14.3/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.14.3/dist/js/uikit-icons.min.js"></script>
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- LIFF -->
    <script src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>
    <script>
        $(document).ready(function () {
            $(".nav").on('click', '#nav2', () => { window.location = "https://linefresh-bot.herokuapp.com/liff/article"; });
            $('#BackTop').click(() => { $('html,body').animate({ scrollTop: 0 }, 333); });
        });
    </script>
</body>

</html>